* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F39E3D;
}

#wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
    border-radius: 1rem;
    z-index: 1;
}

.form-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to left,#FE9C01, #D3090C);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}

.form-heading{
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form{
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
}

.input-group{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input{
    position: relative;
    width: 90%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;

}

.input-group > .i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #FE9C01;
}

.input-group .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before{
    content: '';
    position: absolute;
    background-color: #D3090C;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before{
    width: 100%;
}

.input-group button{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to left,#FE9C01, #D3090C);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group a{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to left,#FE9C01, #D3090C);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group button:focus,
.input-group button:hover{
    background: linear-gradient(to right,#FE9C01, #D3090C);
}

.input-group a:focus,
.input-group a:hover{
    background: linear-gradient(to right,#FE9C01, #D3090C);
}

.msj{
    margin: 5px 20px;
    border-radius: 20px;
    width: 90%;
}

p{
    text-align: center;
}

@media screen and (max-width: 700px){
    .form-container::before{
        height: 18rem;
    }

    .form-heading{
        left: 50%;
        transform: translateX(-50%);
    }

    form{
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
}