/*@media only screen and (max-width: 678px){
    #header{
        width: 100%;
        margin-top: 0;
    }
}*/
body{
 margin: 0;
 min-height: 100vh;
 background-image: url(../img/bg-login.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#f83600,#fe8c00);
    opacity: 0.7;
    z-index: -1;
}
.form-bg{
    /*background: linear-gradient(to bottom,#f83600,#fe8c00);*/
    height: 100vh;
    display: flex;
    align-items: center;
}

.form-horizontal{
    font-family: 'lato',sans-serif;
    text-align: center;
}

.form-horizontal .form-icon{
    color: #fff;
    font-size: 100px;
    line-height: 85px;
    margin: 0 0 13px;
}

.form-horizontal .title{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 35px 0;
}

.form-horizontal .form-group{
    margin: 0 0 10px;
    position: relative;
}

.form-horizontal .input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #777;
}

.form-horizontal .form-control{
    color: #555555;
    background-color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    height: 37px;
    padding: 2px 15px 2px 35px;
    border: none;
    border-radius: 50px;
}

.form-horizontal .form-control::placeholder{
    color: rgba(0,0,0,0,0.7);
    font-size: 14px;
    text-transform: capitalize;
}

.form-horizontal .btn{
    color: #fff;
    background-color: #222;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.form-horizontal .exit{
    color: #222;
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.form-horizontal .form-option{
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-horizontal .form-option li a{
    color: #fff;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    display: block;
}

.form-horizontal .form-option li a i{
    font-size: 12px;
}

#calificacion{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
    margin-top: 70px;
}

#calificacion::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#selector{
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.SelectBtn{
    height: 48px;
    width: 48px;
    background-image: url(../img/icon.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

#SelectValue{
    width: 48px;
    height: 45px;
    position: absolute;
    top: 0;
    background: #ffd200;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: bold;
}

#SelectValue::after{
    content: '';
    border-top: 17px solid #ffd200;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    bottom: -14px;
    left: 0;
}

#tipo{
    margin-top: 20px;
}

