:root{
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6fB;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background: linear-gradient(30deg, #FE9C01, #D3090C);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light{
    background-color: var(--color-light)!important;
}

.bg-dark{
    background-color: var(--color-dark)!important;
}

.p-6{
    padding: 4rem 7rem;
}

.letter{
    color: #000000!important;
}

.contact-box{
    padding: 3rem;
}

.btn{
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark{
    border: 2px solid var(--color-dark-xx);
}

.form-control{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg{
    background-image: url('../img/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}