body
{
	background-color: #41D5B5;
}
#expresion
{
	background-color: #B9C2CC;
	height:60px;
  width: 500px;
  border-radius: 5px;
  border-color: black;
}
#resultado
{
 background-color: white;
 text-align:left;
 white-space: 100%;
 border: solid 3px;
}